nav {
    ul{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    }
}
li{
    list-style-type:none;
}
a{
    text-decoration:none;
    color:rgb(253, 250, 250);
    font-size: larger;
}

.roboto_color{
    font-family: 'Roboto', sans-serif;
    color: $color_letra;
}
h1,h4{
    @extend .roboto_color;
    text-align: center;
}
h2{
    @extend .roboto_color;
}
p{
    @extend .roboto_color;
    margin: 0px 50px;
}

footer{    
    background-color:rgb(139, 9, 9);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    img{
        width: 50px;
        margin: 0px 10px;
    }
}

figcaption{
    color: color_letra;
    text-align: center;
}

label{
    display: inline-block;
    width: 80px;
  }



  @keyframes animationBanner {
    0%{ content: url(../img/barner.jpg); }   
    50%{  content: url(../img/banner2.jpg); }
    100%{  content: url(../img/familiaoki.jpg);}
 }

 @mixin width_height($widht, $height){
    width: $widht;
    height:$heigh;
 }
 header {
        img{ 
        @include width_height(80%, 80vh);
        border-radius: $miborder_radius;
        /* agregando la animacion */
        animation-name: animationBanner;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 5s;
        animation-delay: 0s;
    }
}

.titulo{    
    padding-bottom: 40px;
  }

.logo{
    @include width_height(70px,60px);
    margin-left: -50px;
}
.blockauto{
    display:block;
    margin:auto;
}
.portada_oki{    
    @include width_height(950px,400px);
    @extend .blockauto;
}

.katas, .sa {
    @extend .blockauto;
}

.imgs {
    @extend .blockauto;
    img{
        width:45vw;
        margin-bottom: 10px;
    }
}

.galeria{
    display: flex;
    flex-wrap: wrap;
}

.video{
    @extend .blockauto;
}


.centerElement{
    text-align: center;
}
.header{
    margin-top: 150px;
}


.galeria-grid{
    grid-area: galeria;
}
/*empiezo a acomodar área*/
@mixin display_gap($display, $gap){
    display: $display;
    gap:$gap;
}
.envoltura{
    @include display_gap(grid,20px);
    background-color: goldenrod;   
    margin-bottom: 1.5em;    
    grid-template-areas: 
    "galeria";
}

 .padre{
    @include display_gap(grid,15px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items:center;
}
.imagenes{
    width: 300px;
    height: 250px;
    border: 8px solid rgb(88, 14, 13);
    margin-top: 15px;
}




.form-group{
    display:flex;
    flex-direction: column;
    label{
        align-self: center;
    }
}

#exampleFormControlTextarea1{
    width: 70vw;
    border-radius: $miborder_radius;
    align-self: center;
}


@media (max-width: 500px){
    .galeria{
        display: flex;
        flex-direction: column;
    }
    .imgs img{
        max-width:80vw;
    }
}